
<script src="//coding4medicine.com/static/js/jquery-2.2.3.min.js"></script>
<script src="//coding4medicine.com/static/js/bootstrap.min.js"></script>
<script src="//coding4medicine.com/static/js/app.min.js"></script>
<script src="//coding4medicine.com/static/main.js"></script>
</body>
</html>
