      <header class="main-header">
    <a href="/Members/pages/home/" class="logo">
      <span class="logo-mini"><b>A</b>LT</span>
      <span class="logo-lg"><%= locals[:title] %></span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

<div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Logout</span>
            </a>
            <ul class="dropdown-menu">
		<li>
                <%= link_to 'Upload key', new_sshkey_path, :class=>"btn btn-default btn-flat" %>
                </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
		<%= link_to 'Change password', edit_user_registration_path, :class=>"btn btn-default btn-flat" %>
                </div>
                <div class="pull-right">
		<%= link_to 'sign out', destroy_user_session_path, :class=>"btn btn-default btn-flat" %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>

