<%= render "layouts/header", :locals => {:title => 'Microbial genomics'} %>
<div class="wrapper">
<%= render "layouts/head", :locals => {:title => 'Microbial genomics'} %>

      <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Metagenomics</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/metagenomics/index.html" target="_blank"><i class="fa fa-circle-o"></i> Tutorial</a></li>
            <li><a href="/Members/Materials/metagenomics/index.html" target="_blank"><i class="fa fa-circle-o"></i> Programs</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Programs</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/pandora/index.html" target="_blank"><i class="fa fa-circle-o"></i> Pandora's Toolbox</a></li>
          </ul>
        </li>

    </section>
    <!-- /.sidebar -->
  </aside>


      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Coding for Medicine
        <small>Enabling life scientists to code confidently</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

<%= yield %>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>

<%= render "layouts/footer" %>
