<%= render "layouts/header", :locals => {:title => 'Coding for Medicine'} %>
<div class="wrapper">
<%= render "layouts/head", :locals => {:title => 'Coding 4 Medicine'} %>

      <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Using linux and github</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/linux/index.html" target="_blank"><i class="fa fa-circle-o"></i>Unix/linux tutorial</a></li>
            <li><a href="/Members/Materials/github/index.html" target="_blank"><i class="fa fa-circle-o"></i>Github for sharing code</a></li>
            <li><a href="/Members/Materials/regexp/index.html" target="_blank"><i class="fa fa-circle-o"></i>Regular expression</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Python scripting</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/hspython1/index.html" target="_blank"><i class="fa fa-circle-o"></i>Python - get started</a></li>
            <li><a href="/Members/Materials/hspython2/index.html" target="_blank"><i class="fa fa-circle-o"></i>Solve easy problems</a></li>
            <li><a href="/Members/Materials/hspython3/index.html" target="_blank"><i class="fa fa-circle-o"></i>Python - more concepts</a></li>
            <li><a href="/Members/Materials/hspython4/index.html"><i class="fa fa-circle-o"></i>Solve bioinformatics problems</a></li>
          </ul>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Python puzzles</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/hspython5/index.html" target="_blank"><i class="fa fa-circle-o"></i>Solve jigsaw puzzle</a></li>
          </ul>
        </li>




        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Bioinformatics programs</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/hs-blast/index.html" target="_blank"><i class="fa fa-circle-o"></i>BLAST</a></li>
            <li><a href="/Members/Materials/hs-muscle/index.html" target="_blank"><i class="fa fa-circle-o"></i>MUSCLE</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Databases</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/hs-ncbi-blast/index.html" target="_blank"><i class="fa fa-circle-o"></i>NCBI BLAST</a></li>
            <li><a href="/Members/Materials/hs-uniprot/index.html" target="_blank"><i class="fa fa-circle-o"></i>Uniprot</a></li>
            <li><a href="/Members/Materials/hs-yeast/index.html" target="_blank"><i class="fa fa-circle-o"></i>Yeast database</a></li>
            <li><a href="/Members/Materials/hs-ucsc/index.html" target="_blank"><i class="fa fa-circle-o"></i>UC Santa Cruz</a></li>
            <li><a href="/Members/Materials/hs-ncbi/index.html" target="_blank"><i class="fa fa-circle-o"></i>NCBI</a></li>
          </ul>
        </li>


    </section>
    <!-- /.sidebar -->
  </aside>


      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Coding for Medicine
        <small>Enabling young life scientists to code confidently.</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

<%= yield %>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>

<%= render "layouts/footer" %>
