<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Coding for Medicine</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="//coding4medicine.com/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="//coding4medicine.com/static/css/AdminLTE.min.css">
  <link rel="stylesheet" href="//coding4medicine.com/static/css/skin-red.min.css">
<%= csrf_meta_tags %>
</head>

<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

      <header class="main-header">
    <a href="/pages/home/" class="logo">
      <span class="logo-mini"><b>A</b>LT</span>
      <span class="logo-lg">Coding for Medicine</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

<div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Logout</span>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
		<%= link_to 'Change password', edit_user_registration_path, :class=>"btn btn-default btn-flat" %>
                </div>
                <div class="pull-right">
		<%= link_to 'sign out', destroy_user_session_path, :class=>"btn btn-default btn-flat" %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>

      <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Using linux and github</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/linux/index.html"><i class="fa fa-circle-o"></i>Unix/linux tutorial</a></li>
            <li><a href="/Members/Materials/github/index.html"><i class="fa fa-circle-o"></i>Github for sharing code</a></li>
            <li><a href="/Members/Materials/regexp/index.html"><i class="fa fa-circle-o"></i>Regular expression</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Python scripting</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/hspython1/index.html"><i class="fa fa-circle-o"></i>Python - get started</a></li>
            <li><a href="/Members/Materials/hspython2/index.html"><i class="fa fa-circle-o"></i>Solve easy problems</a></li>
            <li><a href="/Members/Materials/hspython3/index.html"><i class="fa fa-circle-o"></i>Python - more concepts</a></li>
            <li><a href="/Members/Materials/hspython4/index.html"><i class="fa fa-circle-o"></i>Solve bioinformatics problems</a></li>
          </ul>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Python puzzles</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/hspython5/index.html"><i class="fa fa-circle-o"></i>Solve jigsaw puzzle</a></li>
          </ul>
        </li>




        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Bioinformatics programs</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/hs-blast/index.html"><i class="fa fa-circle-o"></i>BLAST</a></li>
            <li><a href="/Members/Materials/hs-muscle/index.html"><i class="fa fa-circle-o"></i>MUSCLE</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Databases</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Members/Materials/hs-ncbi-blast/index.html"><i class="fa fa-circle-o"></i>NCBI BLAST</a></li>
            <li><a href="/Members/Materials/hs-uniprot/index.html"><i class="fa fa-circle-o"></i>Uniprot</a></li>
            <li><a href="/Members/Materials/hs-yeast/index.html"><i class="fa fa-circle-o"></i>Yeast database</a></li>
            <li><a href="/Members/Materials/hs-ucsc/index.html"><i class="fa fa-circle-o"></i>UC Santa Cruz</a></li>
            <li><a href="/Members/Materials/hs-ncbi/index.html"><i class="fa fa-circle-o"></i>NCBI</a></li>
          </ul>
        </li>

    </section>


    </section>
    <!-- /.sidebar -->
  </aside>






      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Coding for Medicine
        <small>Enabling young life scientists to code confidently.</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

<%= yield %>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<script src="//coding4medicine.com/static/js/jquery-2.2.3.min.js"></script>
<script src="//coding4medicine.com/static/js/bootstrap.min.js"></script>
<script src="//coding4medicine.com/static/js/app.min.js"></script>
<script src="//coding4medicine.com/static/main.js"></script>


</body>
</html>

